* {
    text-align: right;
    font-family: "IRANSansWeb(FaNum)";
    font-style: normal;
    font-weight: 100;
    src: url('fonts/IRANSansWeb\(FaNum\).ttf') format('ttf');
  
  }
  .navbar {
    background-color: #558d93;
  }
  
  .offcanvas-header {
    background-color: #558d93;
  }
  
  .offcanvas-body {
    background-color: #558d93;
  }
  
  .tab {
    background-color: #fff;
  }
  
  
  .banner{
    .banner-icon{
      align-items: center;
      justify-content: center;
    }
    .navbar-brand{
      margin-top: 50px;
  
    }
  }

  #title-img{
    width: 160px;
  }
  
  @media (max-width: 435px) {
    #doctor-data{
      font-size: 12px;
    }
  }

  #suggest-doctor{
    width: 100px;
  }
  
  
  .search{
  
    .form-control{
  
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 60px;
    border-radius: 3ram;
    text-align: center;
    margin-left: 380px;
  margin-top: 60px;
  }
  
  .btn{
    align-items: center;
    justify-content: center;
    margin-right: 560px;
   padding-left: 30px;
   padding-right: 30px;
   background-color: #558d93;
   border: none;
   margin-bottom: 20px;
  
  }
  .search-button :hover{
    background-color: #f7bdf2;
  }
  }
  











  
  #doc {
  
    .card-title {
      color: #7aa8ad;
      font-weight: 500;
    }
  
  }
  
  .section-heade h3 {
  
    color: #6c9ca2;
    font-weight: 570;
  
  
  
  }
  
  .card {
    background-color: #e6f3ff;
    border: none;
  }
  
  
  .card {
    border-radius: 1rem;
  
    .btn {
      background-color: #8cbabf;
      border: none;
  
    }
  
    .card-title h4 {
  
      color: aqua;
  
    }
  
  
  }
  
  
  .section-heade {
    color: #36696f;
  }
  
  .tab-nav {
  
    .btn {
      -webkit-text-fill-color: #8c8c8c;
      font-size: small;
    }
  }
  
  
  
  .carousel-inner {
  
  
  
    .card_carousel {
      background-color: #e6f3ff;
      border-radius: 1rem;
    }
  }
  
  
  
  
  #city-name {
    .card_carousel :hover {
  
      background-color: #a1ccd1;
      color: #e6f3ff;
      border-radius: 1rem;
  
    }
  
    .card-title {
  
      text-decoration-line: none;
      color: #8cbabf;
      font-weight: 600;
  
  
    }
  
    .card_carousel {
      text-decoration-line: none;
      background-color: #f4d9de;
      border-radius: 1rem;
  
    }
  
  }
  
  
  #medical-center {
  
  
  
  
    .card {
      background-color: #e6f3ff;
      border-radius: 1rem;
      text-decoration-line: none;
  
  
      .card-title {
  
        color: #8cbabf;
        font-weight: 600;
  
  
  
      }
  
     
  
    }
  
    .card-body{
  
      .btn{
  
        background-color: #8cbabf;
        
        
  
      }
  
    }
  
  
  
  
  
  }
  
  .article{
  
  #medical-article{
  
  
    #article{
      .btn{
        background-color: #e6f3ff;
        border: none;
      }
    }
  
  }
  
  }
  
  .footer{
   .text-white{
      text-decoration-line: none;
    }
  
    .text-uppercase{
      color: #34686d;
    }
  
  
  }
  
  .img-banner{
    align-items: center;
    justify-content: center;
  }
  .img-card{
    align-items: center;
    justify-content: center;
  }
  #suggest-card{
    border: 1px black;
  }